body{
    background-color: rgb(189, 212, 201);
}

.headings{
    text-align: center;
    border: 2px solid red;
    color: rgb(64, 174, 163);
    margin-top: 30px;
    margin-bottom: 15px;
}

.heads{
    display: flex;
    justify-content: space-around;
}

.box-executives{
    border: 2px solid rgb(42, 198, 141);
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
}

.heading-executives{
    text-align: center;
}

.executives{
    display: flex;
    justify-content: space-around;
    
}
.item{
    border: none;
}

figure img{
    height: 250px;
}

figure img.hover{
    opacity: 10;
}

figure figcaption{
    text-align: center;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black
}